body {
  	background: #ffffff;
  	font-size: 20px;
  	color: #06416b;
    font-family: 'Sarabun', sans-serif;
}
header {
	padding: 5px;
	text-align: center;
}
hr{
  background-color: #fff;
  width: 80%;
}

h1{
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	color: #06416b;
  text-align: left;
}
h2{
	font-family: 'Sarabun', sans-serif;
	font-size: 30px;
	color: #06416b;
  padding: 16px;
}
h3{
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  color: #06416b;
}
h5{
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  color: #fff;
}

h4{
  font-size: 20px;
font-family: 'Sarabun', sans-serif;

}

.line{
  height:1vh;
  color: #06416b; /* old IE */
    background-color: #06416b; 
    width: 60vw;
    border: none;
    border-radius: 5px;
}
/* The Modal (background) 
.sidebar {
  margin: 0;
  padding-top: 20px;
  width: 15%;
  background-color: #06416b;
  position: fixed;
  height: 100%;
  overflow: auto;
  text-align: center;
  font-size: 30px;
  border-radius: 10px
  
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
}
 
.sidebar a.active {
  color: #B1CEF0;
  background-color: #06416b;

}

.sidebar a:hover:not(.active) {
  text-decoration: underline;
}*/

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #06416b;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}










section{
  width: 80%;
 margin-left: 120px;
  background: #ffffff;
  float: left;
}

.post{
  width: 97%;
  float: left;
  background: #ffffff;
 padding:5px;
  border-radius: 10px;
  border-color: #BEEFE0;
border-style: solid;
border-width: 10px;
margin-bottom: 10px;

}
.home{
  width: 97%;
  float: right;
  background: #ffffff;
 padding:20px;
  border-radius: 10px;
  border-color: #F5AA9E;
border-style: solid;
border-width: 10px;
margin-bottom: 10px;

}



}
.frame{
  margin-top: 30px;

 
}

.img {
    vertical-align: middle;
    width: 20vw;
    padding-top: 30px;
}






/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-button{
  background-color: #F5AA9E;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

}

.profile{
  border-radius: 10px;
}

.split-right {
   width: 70%;
  float: right;

  /* text-align: left; */ /* TO MAKE TEXT ALIGNED TO THE LEFT */
}

.grid-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: auto auto;
  background-color: #ffffff;
  padding: 10px;


}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
    text-align: center;
    border-radius: 10px;
  border-color: #F5AA9E;
border-style: solid;
border-width: 10px;
}

.profile{
  width: 45%;
}





@media screen and (max-width: 1000px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}
